<!-- BEGIN: FOOTER  -->
<footer class="footer-large">
	<div class="pos-center">
		<div class="footer-row">
			<div class="footer-column left">
				<a href="/"><img
						src="assets/help-us-recycle-logo-white.png"
						class="logo"
						alt="Logo: HelpUsRecycle"></a>
			</div>
			<div class="footer-column right">
				<ul id="footer-list">
					<li><a class="footer" href="about" target="_self">About</a> |</li>
					<li><a class="footer" href="contact" target="_self">Contact</a> |</li>
					<li>
						<a class="footer" href="account" target="_self">Create account</a> |
					</li>
					<li><a class="footer" href="account" target="_self">Login</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-small">
	<div class="pos-center">
		<p><b>2022 &copy; HelpUsRecycle</b></p>
		<p>
			<a href="sitemap">Sitemap</a> &bull;
			<a href="legal_notice">Legal Notice</a> &bull;
			<a href="terms_conditions">Terms</a>
		</p>
	</div>
</footer>
<!-- END: FOOTER  -->

<!-- Back to top button -->
<button onclick="topFunction()" id="topBtn" title="Go to top">Top</button>
<!-- for back to top button -->
<script src="scripts/back-to-top.js" async></script>

<!-- cookie permission -->

<div id="cookieBanner" class="cookie-banner_box">
	<p>
		This website uses functional cookies. Cookies help us to provide our
		services. By using our services, you consent to us setting functional
		cookies and use your device for geolocation.
		<br>
		<a href="terms_conditions">Read more</a>
	</p>
	<button id="cookieBannerBtn" class="btn">I agree</button>
</div>

<!-- script to know that cookies are permitted -->
<script src="scripts/cookieBanner.js"></script>
