<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<!-- SEO optimisation -->

	<meta name="description" content="<%= description %>" />
	<meta name="keywords" content="<%= keywords %>" />

	<meta name="author" content="cm2020 agil-g7g0-ns3" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Page title in browser tab -->
	<title>HelpUsRecycle | <%= title %></title>

	<!-- Layout -->

	<!-- creating a favicon via the profile method as per w3c -->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

	<!-- Preconnect to google fonts to make sure it loads in time -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;400;500;600&family=Roboto:wght@300;400;500;700&display=swap"
		rel="stylesheet"
	/>

	<!--need this for the hamburger menu icon-->
	<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"
	/>

	<!-- icons from font awesome -->
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
	/>

	<!-- Load js asyncronously-->
	<!-- curtain menu is pre-login only -->
	<script src="scripts/curtain-menu.js" async></script>
	<!-- toggle menu for login - logout -->
	<script src="scripts/login_logout_toggle.js" async></script>

	<!-- Link to external stylesheet -->
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
