<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head'); %>

	<body>
		<%- include('partials/nav'); %>
		<main class="pos-center">
			<h1><%= title %></h1>

			<h2>Information according to &sect; 5 TMG</h2>
			<p>
				Alexander Polyakov, Antoinette Stanberry, Kerstin Kegel, Marina Craig
			</p>

			<p>
				HelpUsRecycle supports the recycling PET bottles by connecting
				collectors and givers.
			</p>

			<address>
				<p>
					HelpUsRecycle<br />
					Akam street 4-5<br />
					12345 Berlin <br />
					Germany
				</p>
			</address>

			<h2>Contact</h2>
			<p>
				<b>Phone:</b> +49 (0) 123 44 55 66<br />
				<b>E-Mail:</b> info@helpusrecycle.com
			</p>

			<h2>EU dispute resolution</h2>
			<p>
				The European Commission provides a platform for online dispute
				resolution (OS):
				<a
					href="https://ec.europa.eu/consumers/odr/"
					target="_blank"
					rel="noopener noreferrer"
					>https://ec.europa.eu/consumers/odr/</a
				><br />
				You can find our e-mail address in the imprint above.
			</p>

			<h2>Consumer dispute resolution/universal dispute resolution body</h2>
			<p>
				We are not willing or obligated to participate in dispute resolution
				proceedings before a consumer arbitration board.
			</p>

			<p>
				Source: <a href="https://www.e-recht24.de">eRecht24</a>
				<br />
				Original version in pdf format
				<a href="documents/impressum_de.pdf">impressum_de.pdf</a>
			</p>
			<p>
				Translated with
				<a href="www.DeepL.com/Translator">www.DeepL.com/Translator</a> (free
				version).
			</p>
		</main>
		<%- include('partials/footer'); %>
	</body>
</html>
