<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head'); %>

	<body>
		<%- include('partials/nav'); %>
		<main class="pos-center">
			<h1><%= title %></h1>
			<ul>
				<li><a href="/">Homepage</a></li><br>

				<li><a href="about">About us</a></li>
				<li><a href="contact">Contact us</a></li><br>

				<li><a href="account">Login</a></li>
				<li><a href="account">Create an account</a></li>
				<li><a href="give">Give bottles</a></li>
				<li><a href="collect">Collect bottles</a></li><br>
				
				<li><a href="legal_notice">Legal notice</a></li>
				<li><a href="terms_conditions">Terms and conditions</a></li>
			</ul>
		</main>
		<%- include('partials/footer'); %>
	</body>
</html>
